:local(.container) {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.tooltip) {
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0px 0px 3px #000;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 1.0;
    transition: opacity 0.3s;
    padding-left: 5px;
    margin-top: -5px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
    visibility: visible;
}

:local(.tooltipHide) {
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    composes: tooltip;
    opacity: 0.0;
}

.loadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaded {
    visibility: hidden;
    opacity: 0.0;
    transition: opacity 2s ease-in-out, visibility 2s, filter 2s;
    filter: blur(4ex);
}

.loadingBarContainer {
    width: 150px;
    height: 4px;
    border: 1px solid rgb(163, 163, 163);
    padding: 2px;
}

.loadingBar {
    width: 50%;
    height: 100%;
    background: #333;
    transition: width 0.3s ease-in-out;
}

.infoBox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(255,255,255, 0.8);
    padding: 10px;
    font-size: 12px;
}